header {
  background-image: url("../images/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  height: 1300px;
  text-align: center;
}

header .BOATNOW {
  text-align: center;
}

header .BOATNOW h1 {
  font-size: 70px;
  letter-spacing: 5px;
  font-weight: bolder;
  margin-top: 180px;
  text-align: center;
}

header .BOATNOW p {
  font-size: 23px;
  letter-spacing: 1px;
  margin-top: 40px;
}

header .BOATNOW .input-group {
  font-size: 14px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: #e7434e;
  border-width: 0;
  margin-top: 80px;
}

header .BOATNOW .input-group .form-control {
  box-shadow: none;
  outline: 0;
}
